workflows/ocr_bot.json
{
  "name": "OCR via HTTP Request",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        160
      ],
      "id": "f4275b4f-e3f6-49be-a9da-9ea8a78d5b39",
      "name": "Telegram Trigger",
      "webhookId": "c72b0952-6693-45a9-9df9-abcddec62aeb",
      "credentials": {
        "telegramApi": {
          "id": "nGQjcVkCqx8ixoeF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen/qwen-2-vl-72b-instruct"
            },
            {
              "name": "messages",
              "value": "={{ [\n  {\n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"Ты — профессиональная OCR система. Твоя задача — транскрибировать текст с этого изображения с абсолютной точностью.\\n\\nПРАВИЛА:\\n1. Выведи ТОЛЬКО распознанный текст. Никаких вступлений.\\n2. Сохраняй структуру: если в документе таблица — сделай Markdown таблицу. Если список — сделай список.\\n3. Не исправляй ошибки в оригинальном тексте.\\n4. Если текст рукописный и слово не разобрать — пиши [неразборчиво].\"\n      },\n      {\n        \"type\": \"image_url\",\n        \"image_url\": {\n          \"url\": \"data:image/jpeg;base64,\" + $('Telegram Trigger').first().binary.data.data\n        }\n      }\n    ]\n  }\n] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -288,
        160
      ],
      "id": "e80ff554-18fa-4445-b883-10c2f62458c5",
      "name": "Запрос к AI (Raw)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DrAJgNXs4ExfnxaM",
          "name": "OpenRouter Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        64
      ],
      "id": "89dd672e-42c8-4be1-b1be-95b8c0f52beb",
      "name": "Ответ в Telegram",
      "webhookId": "1bcb1326-4f1f-4cff-b026-a02d7ba35118",
      "credentials": {
        "telegramApi": {
          "id": "nGQjcVkCqx8ixoeF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{\n(() => {\n  // Получаем текст ошибки в нижнем регистре\n  const err = ($json.error?.message || $json.message || JSON.stringify($json)).toLowerCase();\n\n  // 1. Если перегрузка (429)\n  if (err.includes(\"429\") || err.includes(\"too many\")) {\n    return \"⏳ Нейросеть сейчас перегружена (много запросов).\\nПожалуйста, подожди минуту и отправь фото снова.\";\n  }\n\n  // 2. Если ошибка ввода (400)\n  if (err.includes(\"400\") || err.includes(\"input required\") || err.includes(\"bad request\")) {\n    return \"🖼 Кажется, ты отправил не фотографию.\\n\\nБот умеет читать только картинки. Если это документ — попробуй сделать скриншот или отправить его как фото.\";\n  }\n\n  // 3. Неизвестная ошибка\n  return \"👾 Произошла неизвестная ошибка.\\n\\n Вот техническая информация для тебя:\\n\\n\" + ($json.error?.message || $json.message || \"Unknown Error\");\n})()\n}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        256
      ],
      "id": "25c523dc-3bbb-4099-adf6-e8fd834edf64",
      "name": "Сообщить об ошибке",
      "webhookId": "1bcb1326-4f1f-4cff-b026-a02d7ba35118",
      "credentials": {
        "telegramApi": {
          "id": "nGQjcVkCqx8ixoeF",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Запрос к AI (Raw)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос к AI (Raw)": {
      "main": [
        [
          {
            "node": "Ответ в Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сообщить об ошибке",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8460db0b-b3ee-4a12-a278-3d2ee3fc283a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "755f38e0f620aa96ae3b78fddf96b315647bf1ca4d6cdaace9258855aa7220bd"
  },
  "id": "BuI0C1qD5hs00Jqf",
  "tags": []
}